h1 {
    text-transform: none;
    font-family: "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}


@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

.aa-input-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.aa-input-container span,
.aa-input-container input {
    width: inherit;
}

.aa-input-search {
    width: 300px;
    padding: 12px 28px 12px 12px;
    border: 2px solid #e4e4e4;
    border-radius: 4px;
    -webkit-transition: .2s;
    transition: .2s;
    font-family: "Montserrat", sans-serif;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 11px;
    box-sizing: border-box;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
    display: none;
}

.aa-input-search:focus {
    outline: 0;
    border-color: #3a96cf;
    box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1);
}

.aa-input-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: #e4e4e4;
}

.aa-hint {
    color: #e4e4e4;
}

.aa-dropdown-menu {
    background-color: #fff;
    border: 2px solid rgba(228, 228, 228, 0.6);
    border-top-width: 1px;
    font-family: "Montserrat", sans-serif;
    width: 300px;
    margin-top: 10px;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 11px;
    border-radius: 4px;
    box-sizing: border-box;
}

.aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
}

#algolia-autocomplete-listbox-0 a {
    color: rgb(27, 31, 35);
    padding: 12px;
    width: 100%;
    height: 100%;
    text-align: left;
    display: block;
}
#algolia-autocomplete-listbox-0 a:hover {
    color: #fff;
}

.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
    background-color: #0366d6;
}

#aa-search-input {
    margin: 0;
}

.aa-suggestion em,
.aa-suggestion em {
    font-weight: 700;
    font-style: normal;
    background-color: rgba(58, 150, 207, 0.1);
    padding: 2px 0 2px 2px;
}

body {
  color: #000 !important;
  background-color: rgb(246, 248, 250);
}

.no-margin {
    margin: 0px !important;
}