
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
  {{ $id := printf "%s-%s" .File.BaseFileName .File.Lang }}
  {{ if gt (strings.RuneCount $id) 50 }}
    {{ $id = md5 $id }}
  {{ end }}
  console.log("id:{{ $id }}")
  var gitalk = new Gitalk({
      clientID: '{{.Site.Params.Gitcomment.clientId}}',
      clientSecret: '{{.Site.Params.Gitcomment.clientSecret}}',
      repo: '{{.Site.Params.Gitcomment.repo}}',
      owner: '{{.Site.Params.Gitcomment.owner}}',
      admin: '{{.Site.Params.Gitcomment.owner}}',
      labels: ['Gitalk'],
      title: '{{ .Title }}',
      createIssueManually: false,
      id: '{{ $id }}',
      distractionFreeMode: true
  });
  gitalk.render('gitalk-container');
</script>
