
<!-- Core JS -->
{{- $algoliasearchjs := resources.Get "js/10-algoliasearch.min.js" -}}
{{- $autocompletejs := resources.Get "js/11-autocomplete.min.js" -}}
{{- $clipboardjs := resources.Get "js/02-clipboard.min.js" -}}
{{- $featherlightjs := resources.Get "js/06-featherlight.min.js" -}}
{{- $highlightjs := resources.Get "js/07-highlight.pack.js" -}}
{{- $jqueryjs := resources.Get "js/01-jquery-3.3.1.min.js" -}}
{{- $jquerystickyjs := resources.Get "js/05-jquery.sticky.js" -}}
{{- $modernizrjs := resources.Get "js/08-modernizr.custom-3.6.0.js" -}}
{{- $perfectscrollbarjqueryjs := resources.Get "js/04-perfect-scrollbar.jquery.min.js" -}}
{{- $perfectscrollbarjs := resources.Get "js/03-perfect-scrollbar.min.js" -}}
{{- $mermaidjs := resources.Get "js/09-mermaid.js" -}}
{{- $learnjs := resources.Get "js/12-learn.js" -}}


{{- $indexScratch := newScratch -}}
{{- $indexScratch.Add "jsassets" (slice $jqueryjs $algoliasearchjs $autocompletejs $clipboardjs $featherlightjs $highlightjs $jquerystickyjs $modernizrjs $perfectscrollbarjqueryjs $perfectscrollbarjs $mermaidjs $learnjs) -}}

<!-- Bundle js -->
{{- $appjs := $indexScratch.Get "jsassets" | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint -}}
{{- .Scratch.Set "appjs" $appjs.RelPermalink -}}
{{- .Scratch.Set "appjsintegrity" $appjs.Data.Integrity -}}


